$color-verde-fuerte: #0f5758;
$color-verde-claro: #65b54c;
$color-gris-claro: #c3c2c4;
$color-fondo: #fffbf7;
$color-texto: #78787a;

$fuente-overpass: 'Overpass', sans-serif;
$fuente-abril: 'Abril Fatface', cursive;
$fuente-roboto: 'Roboto', sans-serif;