@use 'variables' as *;

@use 'features';
@use 'nav';
@use 'media-queries';
@use 'header';
@use 'publish';

body {
  margin: 0;
  font-family: $fuente-roboto;
}

.input-button {
  display: flex;
  justify-content: center;

  input {
    height: 55px;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: $color-gris-claro;
    border-width: 1px;
    border-right: none;
    padding-left: 20px;
  }

  button {
    height: 55px;
    border-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: $color-verde-fuerte;
    background-color: $color-verde-fuerte;
    color: white;
  }

  input::placeholder {
    color: $color-gris-claro;
  }
}