/* Dispositivo movil */
@media (max-width: 575px) {
  nav ul {
    display: none;
  }

  nav .sign-in {
    display: none;
  }
}

/* Dispositivo pequeño */
@media (min-width: 576px) and (max-width: 767px) {
  nav ul {
    display: none;
  }
}

/* Dispositivo mediano (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  nav ul {
    display: none;
  }
}