@charset "UTF-8";
#features {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 45%));
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
#features article {
  display: flex;
  border: 1px solid #adadad;
  border-radius: 4px;
  background-color: white;
}
#features article .feature-text {
  width: 60%;
  padding: 30px;
}
#features article .feature-text img {
  width: 50px;
  height: 50px;
}
#features article .feature-text h4 {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  margin-top: 25px;
}
#features article .feature-text p {
  color: #adadad;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 25px;
}
#features article .feature-text a {
  color: #65b54c;
  text-decoration: none;
  font-weight: 600;
}
#features article .feature-text .img-traffic {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#features article .feature-text .img-traffic img {
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #fffbf7;
  top: 0;
  position: fixed;
}
nav .logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
nav .logo h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  color: #0f5758;
  font-size: 30px;
  font-family: "Overpass", sans-serif;
  font-weight: 800;
}
nav .logo img {
  width: 50px;
  height: 50px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 40%;
  color: #0f5758;
  font-weight: 600;
  font-size: 17px;
}
nav .sign-in {
  margin-right: 40px;
}
nav .sign-in a {
  color: #65b54c;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}
nav .sign-in button {
  margin-left: 10px;
  color: white;
  background-color: #65b54c;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
}

/* Dispositivo movil */
@media (max-width: 575px) {
  nav ul {
    display: none;
  }

  nav .sign-in {
    display: none;
  }
}
/* Dispositivo pequeño */
@media (min-width: 576px) and (max-width: 767px) {
  nav ul {
    display: none;
  }
}
/* Dispositivo mediano (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  nav ul {
    display: none;
  }
}
header {
  text-align: center;
  padding-top: 130px;
  background-color: #fffbf7;
}
header .intro {
  width: 80%;
}
header h1 {
  font-size: 70px;
  color: #0f5758;
  font-family: "Abril Fatface", cursive;
}
header p {
  font-size: 20px;
  color: #78787a;
}
header .button-header {
  margin-top: 40px;
  margin-bottom: 60px;
}
header .button-header input::placeholder {
  color: #c3c2c4;
}
header .button-header button {
  padding-left: 40px;
  padding-right: 40px;
}

#publish .text-publish .input-publish {
  display: flex;
  justify-content: center;
  align-items: center;
}

#publish .text-publish .input-publish label {
  margin-right: 20px;
  color: #0f5758;
}

#publish .text-publish .input-publish button {
  padding-left: 30px;
  padding-right: 30px;
}

#publish {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#publish .text-publish {
  width: 50%;
  font-size: 17px;
  color: #78787a;
}

#publish .text-publish h1 {
  font-size: 40px;
  color: #0f5758;
  font-family: "Abril Fatface", cursive;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.input-button {
  display: flex;
  justify-content: center;
}
.input-button input {
  height: 55px;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: #c3c2c4;
  border-width: 1px;
  border-right: none;
  padding-left: 20px;
}
.input-button button {
  height: 55px;
  border-width: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #0f5758;
  background-color: #0f5758;
  color: white;
}
.input-button input::placeholder {
  color: #c3c2c4;
}

/*# sourceMappingURL=index.css.map */
