#publish .text-publish .input-publish {
  display: flex;
  justify-content: center;
  align-items: center;
}

#publish .text-publish .input-publish label {
  margin-right: 20px;
  color: #0f5758;
}

#publish .text-publish .input-publish button {
  padding-left: 30px;
  padding-right: 30px;
}

#publish {
  display: flex;
  justify-content: space-around;
}

#publish .text-publish {
  width: 50%;
  font-size: 17px;
  color: #78787a;
}

#publish .text-publish h1 {
    font-size: 40px;
    color: #0f5758;
    font-family: 'Abril Fatface', cursive;
}